.rechts_sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
}

.zoek-container{
    background-color: var(--twitter-background);
    border-radius: 30px;
    padding: 10px;
    margin: 5px auto;
    width: 80%;
    cursor: pointer;
    border: 1px solid var(--twitter-background);
}

.zoek-container .zoek-input{
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    background-color: black;

}

.zoek-container .zoek-btn, fa{
    color: rgb(101,119,134);
    font-size: 16px;
    margin-right: 5px;
}

.trends_box{
    background-color: rgb(245,248,250);
    border-radius: 15px;
    margin: 15px auto;
    width: 80%;
    cursor: pointer;

}

.trends_header{
    display: flex;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 15px 15px 10px;
}

.trend{
    border-bottom: 1px solid white;
    padding: 15px;
}

.trend:hover, .trends_meer-zien{
    background: rgb(231,233,235);
}
.trends_meer-zien{
    padding: 15px;
}

.trends_meer-zien a{
    color: var(--twitter-color);
}

.trends_meer-zien:hover{
    border-bottom-left-radius:15px;
    border-bottom-left-radius:15px;
}

.trends_lichaam span{
    font-size: 14px;
    color: rgb(101,119,134);
}

.trends_lichaam p{
    font-weight: 700;
}

.trends_header p{
    width: 100%;
    font-size: 18px;
    font-weight: 900;
}

.trends_header .fa-cog{
    color: var(--twitter-color);
}